*{
   box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%; 
    position: relative;
}
.img{
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.h1{
    bottom: 50px;
}